.error404 #page-container #main-content .et_builder_inner_content .dsm-404-content {
    background-color: $dark-grey;
}

.error404 #page-container #main-content .et_builder_inner_content .dsm-404-content .et_pb_button.dsm-btn {
    background-color: transparent;
    padding-left: 1.3em !important;
    padding-right: 1.3em !important;
    box-shadow: 0 2px 0 0 $red;
    margin-top: $base-pad;

    &:hover, &:active {
        box-shadow: 0 8px 0 0 $red;
    }
}

.error404 #page-container #main-content .dsm-content-bottom {
    background-position: center left;
    background-image: -webkit-linear-gradient(rgba(42,47,57,0.72) 0%, rgba(42,47,57,0.72) 100%),url("/wp-content/uploads/2019/04/truckers-01.jpg") !important;
    background-image: -o-linear-gradient(rgba(42,47,57,0.72) 0%, rgba(42,47,57,0.72) 100%),url("/wp-content/uploads/2019/04/truckers-01.jpg") !important;
    background-image: linear-gradient(rgba(42,47,57,0.72) 0%, rgba(42,47,57,0.72) 100%),url("/wp-content/uploads/2019/04/truckers-01.jpg") !important;
    
    .et_pb_row.et_pb_gutters1 {
        display: flex;
        flex-direction: row;
    }

    .dsm-content-bottom-col-left {
        margin-right: 4% !important;
        padding: 150px 60px 150px 10%;

        .footer-text {
            margin-bottom: $base-pad;
        }

        a.dsm-btn {

            &:hover {
                background-color: $white;
            }
        }
    }

    .dsm-content-bottom-col-right {
        width: 50%;
        margin-top: -100px;
        background-image: linear-gradient(180deg,#E33040 0%,#2A2F39 100%);
        padding: 150px 0px 150px 7%;
        
        .et_pb_module {
            margin-bottom: $base-pad;
        }

        .footer-phone {
            font-family: $header-font;
            font-size: 40px;
            font-weight: $medium;
            color: $white;
        }
    }

    .et_pb_bottom_inside_divider {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmZmZmZmYiPjxwYXRoIGQ9Ik02NDAgMTM5TDAgMHYxNDBoMTI4MFYwTDY0MCAxMzl6Ii8+PC9nPjwvc3ZnPg==);
        background-size: 100% 100px;
        bottom: 0;
        height: 100px;
        z-index: 10;
    }
}

body.error404 #page-container .dsm-content-bottom .et_pb_button {
    background-color: $white;
    border-radius: 0;

    &:hover:after {
        display: none !important;
    }
}