#et-main-area .et_builder_inner_content .dsm-btn {
    font-size: 16px;
    font-family: $header-font !important;
    font-weight: $bold !important;
    padding: 25px 30px !important;
    font-weight: $medium;
    border-width: 0 !important;
    transition: all .2s ease-in-out;

    &:hover {
        padding-top: 25px !important;
        padding-left: 30px !important;
        padding-bottom: 25px !important;
        padding-right: 30px !important;
        transform: scale(1.05);
    }

    @media screen and ( max-width: $xsmall ) {
        letter-spacing: 1px !important;
    }

    &.dsm-btn-secondary {
        letter-spacing: 3px;

        @media screen and ( max-width: $xsmall ) {
            letter-spacing: 1px;
        }
    }

    &.dsm-dark-text {
        color: $dark-grey !important;
    }

    &.dsm-light-text {
        color: $white !important;
    }
}

#et-main-area .et_builder_inner_content .dsm-content-bottom .dsm-content-bottom-col-left .dsm-btn-primary {
    padding: 25px 55px !important;
}