// Base Styles
#main-content .et_pb_section, #main-content .et_pb_row_inner {
    padding-top: $base-pad;
    padding-bottom: $base-pad;

    &.padding-top-4x {
        padding-top: calc( 4 * #{$base-pad} );
    }

    &.padding-bottom-4x {
        padding-bottom: calc( 4 * #{$base-pad} );
    }

    &.padding-top-3x {
        padding-top: calc( 3 * #{$base-pad} );

        @media screen and ( max-width: $small ) {
            padding-top: calc( 1.5 * #{$base-pad} );
        }
    }

    &.padding-bottom-3x {
        padding-bottom: calc( 3 * #{$base-pad} );

        @media screen and ( max-width: $small ) {
            padding-bottom: calc( 1.5 * #{$base-pad} );
        }
    }

    &.padding-top-2x {
        padding-top: calc( 2 * #{$base-pad} );

        @media screen and ( max-width: $small ) {
            padding-top: calc( 1.5 * #{$base-pad} );
        }

        @media screen and ( max-width: $xsmall ) {
            padding-top: $base-pad;
        }
    }

    &.padding-bottom-2x {
        padding-bottom: calc( 2 * #{$base-pad} );
    
        @media screen and ( max-width: $small ) {
            padding-bottom: calc( 1.5 * #{$base-pad} );
        }

        @media screen and ( max-width: $xsmall ) {
            padding-bottom: $base-pad;
        }
    }

    &.padding-top-half {
        padding-top: calc( #{$base-pad} / 2 );

        @media screen and ( max-width: $small ) {
            padding-top: calc( #{$base-pad} / 3 );
        }
    }

    &.padding-bottom-half {
        padding-bottom: calc( #{$base-pad} / 2 );

        @media screen and ( max-width: $small ) {
            padding-bottom: calc( #{$base-pad} / 3 );
        }
    }

    &.no-pad-top {
        padding-top: 0;
    }

    &.no-pad-bottom {
        padding-bottom: 0;
    }
}

body #page-container {
    overflow-x: hidden;
}

// Content Bottom Section
#et-main-area .et_builder_inner_content .dsm-content-bottom {
    background-size: cover;

    .et_pb_row {
        max-width: 100% !important;
        width: 100% !important;
    }

    .dsm-content-bottom-col-right {
        @media screen and ( min-width: $med ) {
            margin-top: -100px;
            width: 50%;
        }
    }

    .dsm-content-bottom-col-left {
        @media screen and ( min-width: $med ) {
            margin-right: 0 !important;
            padding-right: calc( 8% + 60px )
        }
    }
    a:not(.dsm-btn) {
        color: $white;
        
        &:after {
            border-bottom-width: 0;
            border-bottom-color: $white;
        }

        &:hover:after {
            border-bottom-width: 3px;
        }
    }

    .dsm-social-wrapper {
        a i {
            color: inherit;
        }

        a:not(.dsm-btn) {
            &:after {
                border-bottom: none;
            }

            &:hover:after {
                border-bottom: none !important;
            }
        }

        a:not(:first-child) {
            margin-left: calc( #{$base-pad} / 2.5 );
        }
    }
}

body #page-container .dsm-content-bottom .et_pb_button {
    &:hover:after {
        display: none !important;
    }
}

// Homepage
body.home #et-main-area .et_builder_inner_content {
    background-color: $dark-grey;
}

body.home #et-main-area .et_builder_inner_content .bg-left-half {
    background-size: 50% !important;

    @media screen and ( max-width: $small ) {
        background-position: top center;
        background-size: contain !important;
    }

    @media screen and ( max-width: $xsmall ) {
        background-size: auto 50% !important;
    }
}

body.home #main-content .et_pb_row.et_pb_row_1 {
    @media screen and ( min-width: $med ) and ( max-width: $ipad ) {
        transform: translateX( -50px ) translateY( 0 );
    }
}


// Testimonial
body #et-main-area .et_builder_inner_content .et_pb_testimonial_description h4.dsm-testimonial-text {
    color: $dark-grey;
    font-family: $header-font;
    font-size: 22px;
    font-weight: $medium;
    line-height: 1.8;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;

    @media screen and ( max-width: $xsmall ) {
        padding-left: 0;
        padding-right: 0;
    }
}

body #et-main-area .et_builder_inner_content .dsm-light-text .et_pb_testimonial_description {
    h4.dsm-testimonial-text {
        color: $white;
    }

    .et_pb_testimonial_author {
        color: $white;
    }
}

body .et_builder_inner_content .et_pb_testimonial {
    background-color: transparent;

    .et_pb_testimonial_author {
        color: $dark-grey;
        font-size: 22px;
        font-family: $header-font;
        font-weight: $medium;
        text-align: center;
    }

    &.dsm-light-text {
        h4, strong {
            color: $white;
        }
    }
}

.flex-row {

    .et_pb_column {
        display: flex;
        flex-direction: row;
    }

    &.vert-center {
        .et_pb_column {
            align-items: center;
        }
    }
}

body.home #main-content .et_pb_testimonial {
    @media screen and ( max-width: $xsmall ) {
        padding-left: 0;
        padding-right: 0;
    }
}

// Testimonial Page

body.page-id-276 #main-content .et_builder_inner_content .et_pb_testimonial {
    .et_pb_testimonial_author {
        font-size: 16px;
        font-weight: $medium;
        line-height: 1.3;
        text-align: left;
    }
}

#main-content .dsm-checklist {
    padding-left: 20px;
    text-indent: 2px;
    list-style: none;
    list-style-position: outside;

    li {
        padding-left: 3px;
        &:before {
            font-family: 'Font Awesome 5 Pro';
            font-weight: 900;
            color: $white;
            content: "\f00c";   
            margin-left: -1.5em;
            margin-right: .600em;
        }

        &.black:before {
            color: $black;
        }
    }
}

#main-content .et_pb_blog_0 article.et_pb_post {
    p.post-meta {
        color: $red !important;
        span, a, span a {
            color: $red !important;
        }
    }
}

body #main-content div.et_pb_section.et_pb_section_7 {
    @media screen and ( max-width: $small ) {
        background-image: linear-gradient(180deg,rgba(42,47,57,0.72) 0%,rgba(42,47,57,0.72) 100%),url('/wp-content/uploads/2019/05/truckers-footer-01.jpg') !important;
        background-position: top center;
        background-size: cover;
    }
}
