footer#main-footer > .container {
    display: none;
}

footer #footer-bottom {
    > .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: $small) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .footer-logo-wrapper {
        flex-basis: 25%;

        @media screen and (max-width: $small) {
            flex-basis: 100%;
        }
    }

    .footer-copyright-wrapper {
        flex-basis: 70%;

        @media screen and (max-width: $small ) {
            flex-basis: 100%;
        }
        .footer-copyright {
            color: $light-grey;
            font-family: $body-font;
            font-size: 14px;
            text-align: right;

            @media screen and (max-width: $small) {
                text-align: center;
            }

            a {
                &.policy-link, &.drive-link {
                    color: inherit;
                    text-decoration: underline;
                }
            }
        }
    }
}