#main-content .gform_wrapper {
    .gform_body {
        .gfield {
            .gfield_label {
                display: none;
            }

            .ginput_container {
                margin-bottom: calc( #{$base-pad} / 2 );
                input, textarea {
                    border: none;
                    border-bottom: 1px solid $black;
                    font-family: $header-font;
                    padding-top: 5px;
                    padding-left: 4px;
                    padding-bottom: 5px;
                }

                select {
                    border:none;
                    border-bottom: 1px solid $black;
                    font-family: $header-font;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    padding-left: 2px;
                    
                    option.gf_placeholder {
                        padding: 0;
                    }
                }
            }

            &.gsection h2.gsection_title {
                color: $black !important;
            }
        }
    }

    .gform_footer {
        text-align: right;

        input[type="submit"] {
            font-family: $header-font;
            font-size: 16px;
            color: $white;
            background-color: $red;
            box-shadow: 0 10px 30px rgba(42, 47, 57, 0.5);
            padding: 25px 50px;
            border:none;
        }
    }
}

