#page-container {
    padding-top: 0 !important;

    #main-header {
        background-color: transparent;
        box-shadow: none;
    }
}

#page-container #main-header #top-menu-nav .nav {
    li.menu-item {
        a {
            color: $white;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: $regular;
            font-family: $header-font;

            transition: color .3s ease-in;

        }
    }
}

#page-container {
    padding-top: 0 !important;

    #main-header {
        background-color: transparent;
        box-shadow: none;

        &.et-fixed-header {
            background-color: $dark-grey;

            #top-menu-nav .nav li.menu-item {
                a {
                    color: $white;
                }
            }
        }
    }
}

#page-container #main-header #top-menu-nav .nav .sub-menu {
    border-top: 3px solid $blue;
    background-color: $dark-grey;
    padding-top: 0;
    padding-bottom: 0;

    li.menu-item {
        padding: 5px 15px;

        a {
            color: $white;
            transition: color .3s ease-in;
            &:hover {
                color: $med-grey;
            }
        }
    }
}

#page-container #top-header {
    background-color: $dark-grey;
}

#page-container #top-header .container #et-info {
    float: right;
    
    #et-info-phone {
        font-family: $header-font;
        &:before {
            color: $blue;
        }
    }
    a[href^="mailto:"] {
        display: none;
    }
}

.page-id-3 #page-container #main-header {
    background-color: $dark-grey;
}