#main-content .et_pb_column p, #main-content .et_pb_column li {
    font-family: $body-font;
}

#main-content .et_pb_column h1, #main-content .et_pb_column h2, #main-content .et_pb_column h3, #main-content .et_pb_column h4, #main-content .et_pb_column h5, #main-content .et_pb_column h6 {
    font-family: $header-font;
}

#main-content .et_pb_column h1, #main-content .et_pb_column h2, #main-content .et_pb_column h3, #main-content .et_pb_column h4, #main-content .et_pb_column h5, #main-content .et_pb_column h6, #main-content .et_pb_column p, #main-content .et_pb_column li {
    &.white {
        color: $white !important;
    }

    &.red {
        color: $red !important;
    }
    &.black {
        color: $dark-grey !important;
    }
    &.light-grey {
        color: $light-grey;
    }

    &.align-center {
        text-align: center;
    }
    &.blue {
        color: $blue;
    }
}

#main-content h3.footer-header {
    font-size: 28px;
    font-weight: $regular;
    line-height: 1.6;

    @media screen and ( max-width: $xsmall ) {
        font-size: 25px;
    }
}

#main-content h3.dsm-subsection-header {
    color: $dark-grey;
    font-size: 28px;
    font-weight: $regular;
    line-height: 1.3;
}

#main-content h4.footer-subheader, #main-content h4.section-subheader {
    font-size: 23px;
    font-weight: $regular;
    line-height: 1.6;

    @media screen and ( max-width: $xsmall ) {
        font-size: 21px;
    }
}

#main-content .et_pb_column h4.dsm-hero-subtitle {
    @media screen and ( max-width: $xsmall ) {
        font-size: 18px;
    }
}

#main-content .et_pb_column h1.dsm-hero-title {
    font-size: 78px;
    font-weight: $light;
    line-height: 1.2;
    text-transform: uppercase;

    @media screen and ( max-width: $ipad ) {
        font-size: 50px;
    }
    
    @media screen and ( max-width: $small ) {
        font-size: 42px;
    }
    
    @media screen and ( max-width: $xsmall ) {
        font-size: 36px;
    }


}

#main-content .et_pb_column h2.dsm-section-header, #main-content .et_pb_column h2.section-header {
    font-size: 50px;
    font-weight: $regular;
    line-height: 1.3;
    text-transform: uppercase;

    @media screen and ( max-width: $ipad ) {
        font-size: 42px;
    }
    
    @media screen and ( max-width: $small ) {
        font-size: 36px;
    }
    @media screen and ( max-width: $xsmall ) {
        font-size: 32px;
    }
}

.et_pb_column div[class^='.et_pb_blurb'].et_pb_blurb h4 {
    font-size: 28px;
    font-weight: $regular;
}

#main-content p {
    font-size: 16px;
    line-height: 28px;
}

#main-content p{
    &.footer-text {
        color: $light-grey;
    }

    &.form-disclaimer {
        font-size: 14px;
        color: $black;
        font-weight: $regular;
    }
}

#main-content h5.entry-title {
    height: 60px;
}