$header-font: 'Oswald';
$body-font: 'Open Sans';

$light: 200;
$semi-light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$bolder: 800;
$boldest: 900;

$white: #fff;
$dark-grey: #2A2F39;
$med-grey: #B7B7B7;
$light-grey: #E5E5E5;
$black: #666;
$blue: #3165A1;
$red: #E33040;

$xsmall: 576px;
$small: 768px;
$med: 992px;
$ipad: 1024px;
$large: 1200px;

$base-pad: 48px;